@font-face {
    font-family: 'DurangoKidMedium';
    src: url('../fonts/durango-kid-medium-webfont.woff2') format('woff2'),
    url('../fonts/durango-kid-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/suisseworks-regular-webfont.woff2') format('woff2'),
    url('../fonts/suisseworks-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/suisseworks-regularitalic-webfont.woff2') format('woff2'),
    url('../fonts/suisseworks-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NeueWorld';
    src: url('../fonts/PPNeueWorld-Regular.woff2') format('woff2'),
    url('../fonts/PPNeueWorld-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$logo_path: url('../img/logo/white.png');
$exposition_logo_path: url('../img/logo/LOGO_Constituinte.png');

 
$postShowBackgroundColor:#f4f3f0;
$mainBackGroundColor:#262626;
$postShowfontColor: #000000;
$postShowTitleFontSyle: DurangoKidMedium;
$postShowTextFontSyle: SuisseWorks;

body, .main {
    background-color: $mainBackGroundColor;
}

p, h2, h3, h4{
    color: #fff;
}

.default-text{
    font-family: SuisseWorks, serif;
    color: #fff;
    justify-content: normal;
}

.h2-subtitle{
    font-size: 50px;
    font-family: DurangoKidMedium, serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.subtitle-name{
    margin-top: 10%;
    margin-bottom: 0%;
    font-family: $postShowTitleFontSyle;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.sidebar-Menu {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Menu-Left-01 Menu-Right-01"
        "Menu-Left-02 Menu-Right-02"
        "Menu-Left-03 Menu-Right-03"
        "Menu-Left-04 Menu-Right-04"
        "Menu-Left-05 Menu-Right-05"
        "Menu-Left-06 Menu-Right-06";
    grid-area: Menu;
}

.exposition-img {
    fill: #fff;
    background-image: $exposition_logo_path;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 455.8px 140px;
    height:  500px;
    width: 100%;
    transition: background-color 1s, width 1s;
  }

@media screen and (min-width: 768px){
    .logo-img {
        fill: #fff;
        background-image: $logo_path;
        background-repeat: no-repeat;
        background-size: 290px 254px;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: background-color 1s, width 1s;
      }
}

@media screen and (max-width: 768px) {

    .Sidebar{
        display: flex !important;
        flex-direction: column;
    }
    
    .Logo {
        flex: 1;
        border-right: 1px solid white;
    }


    .logo-img {
        fill: #fff;
        background-image: $logo_path;
        background-repeat: no-repeat;
        background-size: 290px 254px;
        background-position: center;
        transition: background-color 1s, width 1s;
        width: 100%;
        height: 150px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
    }
}