@font-face {
    font-family: 'DurangoKidMedium';
    src: url('../fonts/durango-kid-medium-webfont.woff2') format('woff2'),
    url('../fonts/durango-kid-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/suisseworks-regular-webfont.woff2') format('woff2'),
    url('../fonts/suisseworks-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuisseWorks';
    src: url('../fonts/suisseworks-regularitalic-webfont.woff2') format('woff2'),
    url('../fonts/suisseworks-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'NeueWorld';
    src: url('../fonts/PPNeueWorld-Regular.woff2') format('woff2'),
    url('../fonts/PPNeueWorld-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$logo_path: url('../img/logo/white.png');
$exposition_logo_path: url('../img/logo/LOGO_Constituinte.png');

 
$postShowBackgroundColor:#f4f3f0;
$mainBackGroundColor:#262626;
$postShowfontColor: #000000;
$postShowTitleFontSyle: DurangoKidMedium;
$postShowTextFontSyle: SuisseWorks;

body, .main {
    background-color: $mainBackGroundColor;
}

p, h2, h3, h4{
    color: #fff;
}

.default-text{
    font-family: SuisseWorks, serif;
    color: #fff;
    justify-content: normal;
}

.h2-subtitle{
    font-size: 50px;
    font-family: DurangoKidMedium, serif;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}

.internal-verbete{
    .subtitle-name{
        margin-left: 10%;
    }
}

.exposition-button, .inscription-button{
    margin: 0 0 0 8.5px;
    padding: 4px 13.5px 5.5px 14px;
    border-radius: 22.5px;
    border: solid 1px #f4f3f0;
    background-color: #f4f3f0;
    color: #262626;
    font-size: 22px;
    font-family: $postShowTextFontSyle;
    max-width: 350px;
    display: block;
    transition: 0.5s;
    font-weight: bold;
    text-align: center;
    // display: none;
}

.subtitle-name{
    margin-top: 10%;
    margin-bottom: 0%;
    font-family: $postShowTitleFontSyle;
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.84;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}

.sidebar-Menu {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Menu-Left-01 Menu-Right-01"
        "Menu-Left-02 Menu-Right-02"
        "Menu-Left-03 Menu-Right-03"
        "Menu-Left-04 Menu-Right-04"
        "Menu-Left-05 Menu-Right-05"
        "Menu-Left-06 Menu-Right-06";
    grid-area: Menu;
}

.exposition-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "exposition-button inscription-button";
    grid-area: Menu;
    align-items: center;
    justify-items: center; 
}

.exposition-img {
    fill: #fff;
    background-image: $exposition_logo_path;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80vh 30vh;
    height:  50vh;
    width: 100%;
    transition: background-color 1s, width 1s;
  }

@media screen and (min-width: 1000px){
    .logo-img {
        fill: #fff;
        background-image: $logo_path;
        background-repeat: no-repeat;
        background-size: 290px 254px;
        background-position: center;
        height: 100%;
        width: 100%;
        transition: background-color 1s, width 1s;
      }


}

@media screen and (max-width: 1000px) {

    .exposition-buttons {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50%;
        gap: 1vh;
        grid-auto-flow: column;
        grid-template-areas:
            "exposition-button" 
            "inscription-button";
        grid-area: Menu;
        margin-bottom: 20px;
    }

    .exposition-img {
      fill: #fff;
      background-image: $exposition_logo_path;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100% 70%;
      height: 300px;
      width: 100%;
      transition: background-color 1s, width 1s;
    }

    .Sidebar{
        display: flex !important;
        flex-direction: column;
    }
    
    .Logo {
        flex: 1;
        border-right: 1px solid white;
    }


    .logo-img {
        fill: #fff;
        background-image: $logo_path;
        background-repeat: no-repeat;
        background-size: 324px 324px;
        background-position: center;
        transition: background-color 1s, width 1s;
        width: 100%;
        height: 324px;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
    }
}

@media screen and (min-width: 1000px) {
    .welcome-main {
      background-color: $mainBackGroundColor;
      color: $postShowBackgroundColor;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 25% 65% 10%;
      grid-auto-flow: row;
      grid-template-areas:
        "welcome-logo-header"
        "welcome-content"
        "welcome-footer";
      margin: auto;
      max-height: fit-content;
      min-height: 90%;
    }
    
    .welcome-logo-header{
      display: grid;
      grid-template-columns: 35% 65%;
      grid-template-rows: 100%;
      grid-auto-flow: row;
      grid-template-areas:
        "Logo Header";
      height: 100%;
    }

    .welcome-content{
        display: grid;
        grid-template-columns: 35% 65%;
        grid-template-rows: 100%;
        grid-auto-flow: row;
        grid-template-areas:
          "welcome-sidebar welcome-exposition";
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    
    
    }
    @media screen and (max-width: 1000px) {
      .header-img {
        display: none;
      }
    
      .welcome-logo-main {
        display: flex;
        flex-direction: column;
      }
    
      .welcome-logo-header{
        display: flex;
        flex-direction: column;
    
        .Logo{
          .logo-img{
            height: 250px;
          }
        }
      }

      .welcome-content{
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }

.welcome-footer{
        background-color: #262626;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
      
        .back-to-timeline-button{
          text-align: center;
          float: left;
          width: 100%;
        }
      
        .next-event-button{
          text-align: center;
          float: right;
          width: 100%;
        }
      
        a{
          font-size: 20px;
          color: #fff;
        }
}

.welcome-footer{
    background-color: #262626;
    display: grid;
    padding: 25px;
    grid-template-columns: auto 1fr;
  }

  .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.image-container {
  width: 100%;
  align-items: center;

  img{
    margin: 1px;
  }
}
  
.image-container .img-large {
  height: auto;
  max-height: 60px;
}

.image-container .img-gov {
  height: auto;
  max-height: 70px;
}


.image-container .img-00 {
  height: auto;
  max-height: 60px;
}

@media screen and (max-width: 1000px) {
    .welcome-footer{
      grid-template-columns: auto; 
      grid-template-rows: auto auto; 
    }

    .image-container .img-large {
      width: 100%;
      height: 60px;
    }
}

.image-container img {
    max-width: 100%;
    height: auto;
}

#ngongo {
  max-height: 170px;
  max-width: 70px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.welcome-verbete {
  background-color: #2f2f2f;
  padding: 2%;
  color: #fff;
  display: block;
  min-height: 300px;

  .internal-verbete {
    margin-left: 10%;
    border-left: 1px solid #fff;

    .verbete-entry {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
    }

    div, details {
      margin: 0 50px 0 40px;
      font-family: DurangoKid;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      font-size: 23px;
      line-height: 1.39;
      letter-spacing: normal;
      text-align: left;
      color: #fff;

      a {
        color: #fff;
        font-size: 18px;
        line-height: 1.33;
      }

      .entry-text {
        font-size: 18px;
      }
    }
  }
}

.welcome-sidebar {
  border-top: 1px solid #fff;
}

summary {
  display: block;
  position: relative; /* Add positioning */
}

/* Create a new custom triangle on the right side */
summary::after {
  position: absolute; /* Position the icon relative to the summary */
  top: 0; /* Align to the top of the summary */
  right: 0; /* Align to the right of the summary */
  margin-left: 1ch;
  display: inline-block;
  content: '+';
  font-size: 3vh;
  font-weight: bold;
  transition: 0.2s;
  transform: translateX(90%); /* Move the icon to the right completely */
}

details[open] > summary::after {
  content: '-';
}